// Define breakpoints
$breakSM: 480px;
$breakMD: 767px;
$breakLG: 979px;

// Define fonts
$fontStack: 'roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontStackSerifs: Georgia, serif;

// Define text colors
$colorText:		#444;
$colorTextLight: #888;

// Define notice colors
$colorNotice: 		#a71c18;

// Define colors of each faculty
$colorPhilFak: 	#ad841f;
$colorRwFak: 	#801429;
$colorMedFak: 	#00b1c6;
$colorNatFak:	#009775;
$colorTechFak:	#a3acb2;
$colorZUV:		#003366;

// Define primary colors by faculty
$colorPrimary:	$colorZUV;
$colorHover: 	desaturate(lighten($colorPrimary, 10%), 40%);
$colorLight:	desaturate(lighten($colorPrimary, 69%), 75%);
$colorLightest:	desaturate(lighten($colorPrimary, 73%), 75%);

